{% extends 'base.html' %}
{% block title %} Estimador de Precipitación / Perú {% endblock%}
{% block titulito %}{% endblock %}

{% block scripts_comentarios %}
<script>
    $(document).ready(function() {
        function updateTextarea() {
            $.ajax({
                url: '/get_producto_uno',
                type: 'GET',
                success: function(response) {
                    $('#producto-uno-textarea').val(response.value.fecha+':\n'+response.value.texto);
                }
            });
        }

        // Actualizar el contenido del textarea al cargar la página
        updateTextarea();
        // Ejecutar updateTextarea cada 10 minutos
        setInterval(updateTextarea, 600000);
        // Escuchar cambios en tiempo real usando Firebase SDK
        var dbRef = firebase.database().ref('/comentarios/producto_uno');
        dbRef.on('value', function(snapshot) {
            var newValue = snapshot.val();
            $('#producto-uno-textarea').val(newValue);
        });
    });
</script>
{% endblock %}

{% block scripts_mostrarimagenes %}
<script>
function updateImages() {
    function loadAndCycleImages() {
        $.get('/get_images1', function(data) {
        var imageUrls = data.image_urls;
        var currentIndex = 0;

        function displayImage() {
            var imageUrl = imageUrls[currentIndex];
            $('#current-image').attr('src', imageUrl);
            $('#image-name').text(getImageName(imageUrl));

            if (currentIndex === imageUrls.length - 1) {
            currentIndex = 0; // Reinicia al principio después de mostrar la última imagen
            } else {
            currentIndex++;
            }
        }
        displayImage();
        var intervalId = setInterval(displayImage, 1000);

        setTimeout(function() {
            clearInterval(intervalId);
            loadAndCycleImages();
  
        }, 600000); // 10 minutos en milisegundos
        });
    }

    // Inicia el ciclo al cargar la página
    loadAndCycleImages();
    }

    function getImageName(imageUrl) {
        var imageName = imageUrl.split('/').pop().split('.')[0];
        imageName = imageName.replace(/%20/g, ' '); // Reemplazar "%20" por espacio
        return imageName;
    }

    $(document).ready(function() {
        updateImages();
    });
</script>
{% endblock %}

{% block contenido%}
<div class="container">
    
    <p class="h2 pt-5 text-center">Estimador de precipitación en Perú</p>
    <div class="row">
        <div class="col-md-12 mt-5">
            <p class="h5">Alerta en Perú</p>
            <div class="header-text-one ">
               <textarea class="form-control my-auto" id="producto-uno-textarea" rows="5" cols="50" readonly style="resize: none;"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-5">
            <p class="">Fecha y hora de la imagen: </p><h1 class="h6" id="image-name"></h1>
            <img  id="current-image"  style="width: 100%;" alt="type1">
        </div>
        <div class="col-md-6 mt-5">
            <button>Lima</button>
        </div>
        
    </div>
</div>
{% endblock %}